<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script>
        function vote(imeFilma, godina, vrsta) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/vote");
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    // Osvježi stranicu nakon što server odgovori
                    location.reload();
                }
            };
            xhttp.send(`imeFilma=${imeFilma}&godina=${godina}&vrsta=${vrsta}`);


        }
    </script>

</head>

<body>

    <div class="container">
        <%- include('header.ejs') %>
            <% if (locals.film) { %>
                <div class="movie-card">
                    <script> document.body.style.backgroundImage = "url(<%= film.primaryImage.imageUrl %>)";</script>
                    <img src="<%= film.primaryImage.imageUrl %>" alt="<%= film.Title %> poster" class="movie-poster">

                    <a href="https://www.imdb.com/title/<%= film.id %>" target="_blank">
                        <h1 class="movie-title">
                            <%= film.titleText.text %>
                        </h1>
                    </a>
                    <h2 class="movie-year">
                        <%= film.releaseYear.year %>
                    </h2>

                    <div class="movie-rating">
                        <i class="fa-solid fa-star">

                        </i>
                        <p>
                            <%= film.ratingsSummary.aggregateRating %> / 10
                        </p>

                    </div>

                    <div>
                        <p class="movie-description">
                            <%= film.plot.plotText.plainText %>
                        </p>
                    </div>
                    <div class="movie-like">
                        <span class="fa-stack fa-2x"
                            onclick='vote("<%=film.titleText.text%>", "<%=film.releaseYear.year%>", "like")'>
                            <i class="fa-solid fa-thumbs-up fa-inverse" style="color: green;"></i>
                            <i class="fa-regular fa-circle fa-stack-2x"></i>

                        </span>


                        <span class="fa-stack fa-2x"
                            onclick='vote("<%=film.titleText.text%>", "<%=film.releaseYear.year%>", "dislike")'>
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-thumbs-down fa-inverse" style="color: red;"></i>
                        </span>


                    </div> <button type="submit" class="random-button" onclick="window.location.href='/'">
                        Pronađi
                        novi
                        film</button>
                </div>
                <% } else { %>
                    <p class="no-movie">API greška: Pokušajte ponovo.</p>
                    <% } %>
                        <%- include('footer.ejs') %>
    </div>

</body>


</html>